<a href="https://colab.research.google.com/github/Rayxaman/linguagem-python/blob/main/AprendendoPython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Módulo 3 (Python)

Bootcamp IGTI - Desenvolvedor(a) de Software Iniciante.

In [ ]:
print('Olá Mundo!')

Olá Mundo!

# Primeiros Passos

In [ ]:
5+5

10

In [ ]:
10-2

8

In [ ]:
50/2

25.0

In [ ]:
print(5+5)

10

In [ ]:
a = 5
print(a)

In [ ]:
b = 10

In [ ]:
a + b

15

In [ ]:
a * b

50

In [ ]:
y = 'ok'
print(y)

In [ ]:
soma = a + b
print (soma)

15

Atividade - ver o que acontece:

In [ ]:
z = '10' + '50'   #armazena o dado como um texto
print(z)          #o retorno será 1050

1050

In [ ]:
10 +++++ 50   #mais de um sinal de adição funciona da mesma maneira

60

In [ ]:
10 ** 2   #dois sinais de multiplicacçao transforma a conta em potenciação

100

In [ ]:
10 ********** 10  #não funciona, por erro de syntax

SyntaxError: ignored

# Trabalhando com String

In [ ]:
rua = 'Rua do Catete, '
numero = '153, '
bairro = 'Catete, '
cidade = 'Rio de Janeiro, '
estado = 'RJ, '
cep = '22220-000'
print(rua)

Rua do Catete,

In [ ]:
#concatenando a String
endereco = rua + numero + bairro + cidade + estado + cep
print(endereco)

Rua do Catete, 153, Catete, Rio de Janeiro, RJ, 22220-000

In [ ]:
#transformando as letras em maiúsculas
endereco_maiuscula = endereco.upper()
print(endereco_maiuscula)

RUA DO CATETE, 153, CATETE, RIO DE JANEIRO, RJ, 22220-000

In [ ]:
#transformando as letras em minúsculas
enderco_minuscula = endereco.lower()
print(enderco_minuscula)

rua do catete, 153, catete, rio de janeiro, rj, 22220-000

# Trabalhando com Integer

In [ ]:
x = 50
print(x)

#declaração de número negativo
y = -250
print(y)

#não faz diferença o sinal de positivo na frente do número
a = +50  
print(a)

#verificando qual é o tipo de uma variável
print(type(a))

50
-250
50
<class 'int'>

In [ ]:
#declarando o tipo inteiro
numero_alunos = int(50)
print(numero_alunos)

50

In [ ]:
#divisão de integer + integer = float
divisao = 50/2
print(divisao)
print(type(divisao))

#tornando o resultado de uma divisão em integer
divisao = int(50/2)
print(divisao)
print(type(divisao))

25.0
<class 'float'>
25
<class 'int'>

#Trabalhando com Float

In [ ]:
a = 2.5
print(type(a))

b = -23.8
print(type(b))

c = 6,23  #vírgula não funciona para variável do tipo float
print(type(c))

<class 'float'>
<class 'float'>
<class 'tuple'>

In [ ]:
#declarando números científicos com um "e" para indicar a potência de 10
d = 35e3
print(type(d))
d1 = 35E3 
print(type(d1))
d2 = -15e4
print(type(d2))

<class 'float'>
<class 'float'>
<class 'float'>

In [ ]:
#outras letras não funcionam
e = 15f3

SyntaxError: ignored

#Trabalhando com Boolean

In [ ]:
5 == 5

True

In [ ]:
5 == 4

False

In [ ]:
15 > 10

True

In [ ]:
3 > 25

False

Boolean também serve para String

In [ ]:
'python' == 'python'

True

In [ ]:
'python' == 'Python'

False

In [ ]:
'python' == 'nohtyp'

False

In [ ]:
'python' > 'java'  #vide sessão 'tabela ASCII' para entender o resultado

True

In [ ]:
'python' == 'java'

False

### Tabela ASCII
Código Padrão Americano para o intercâmbio de informação

Código binário que codifica um conjunto de 128 sinais: 95 sinais gráficos

In [ ]:
'pão' > 'baú'

True

In [ ]:
#entendendo o resultado da célula anterior
nome = 'pão'
nome_1 = 'baú'

print(nome.encode())
print(nome_1.encode())

'''
pão == b'p\xc3\xa3o'    é assim que a palavra "pão" está armazenada na memória
baú == b'ba\xc3\xba'    é assim que a palavra "baú" está armazenada na memória
'''

b'p\xc3\xa3o'
b'ba\xc3\xba'

# Convertendo Tipos de Dados

In [ ]:
#Declaração das variáveis
num = 500
num_str = '200'
fl = 23.5
bl = 3 > 4

 # aconselha-se criar variável auxiliar para a converção, para não "bagunçar" a variável original.

In [ ]:
#Conversão de Integer
num_x = str(num)  #converte para sting
print(type(num_x))
print(num_x)

num_aux = float(num) #converte para float
print(type(num_aux))
print(num_aux)

num_aux2 = bool(num)  #converte para boolean
print(type(num_aux2))
print(num_aux2)

<class 'str'>
500
<class 'float'>
500.0
<class 'bool'>
True

In [ ]:
#Conversão de String
num_str2 = int(num_str) #converte para integer
print(type(num_str1))
print(num_str1)

num_str2 = float(num_str) #converte para float
print(type(num_str2))
print(num_str2)

num_str3 = bool(num_str) #converte para boolean
print(type(num_str3))
print(num_str3)

<class 'int'>
200
<class 'float'>
200.0
<class 'bool'>
True

In [ ]:
#Conversão de Float
fl_aux = int(fl)  #converte para integer
print(type(fl_aux)) 
print(fl_aux)

fl_aux2 = str(fl) #converte para string
print(type(fl_aux2))
print(fl_aux2)

fl_aux3 = bool(fl)  #converte para boolean
print(type(fl_aux3))
print(fl_aux3)

<class 'int'>
23
<class 'str'>
23.5
<class 'bool'>
True

In [ ]:
#Conversão de Boolean
bl_aux = str(bl)  #converte para string
print(type(bl_aux))
print(bl_aux)

bl_aux2 = int(bl) #converte para integer
print(type(bl_aux2))
print(bl_aux2)

bl_aux3 = float(bl) #converte para float
print(type(bl_aux3))
print(bl_aux3)

<class 'str'>
False
<class 'int'>
0
<class 'float'>
0.0